<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>信息列表</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}">
    <link th:href="@{/static/css/reset.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:inline="javascript">
        var context = [[@{/}]];
    </script>
    <style type="text/css">

    </style>
</head>
<body >
<table class="layui-hide" id="table" lay-filter="table"></table>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <th:block th:if="${user.userRole eq '1'}">
            <button class="layui-btn layui-btn-sm" lay-event="addApply">新增提取</button>
        </th:block>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:inline="javascript">
    var userRole = [[${user.userRole}]]
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;
        var $ = jQuery = layui.$;

        table.render({
            elem: '#table'
            ,url: context + '/apply/applyListData'
            ,toolbar: '#toolbar'
            ,title: '用户数据表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'apply_id', title:'ID', fixed: 'left'}
                    ,{field:'apply_name', title:'提取名称',  edit: 'text'}
                    ,{field:'apply_user', title:'提取人',  edit: 'text'}
                    ,{field:'user_number', title:'警员编号',  edit: 'text'}
                    ,{field:'apply_status', title:'提取状态', align:'center',  templet: function (res) {
                        if(res.apply_status == '0'){
                            return "未发送"
                        }
                        if(res.apply_status=='1'){
                            if(userRole==1){
                                return "<button class='layui-btn layui-btn-primary layui-btn-xs'>待处理</button>"
                            }
                            if(userRole==2){
                                return "<button class='layui-btn layui-btn-normal layui-btn-xs' lay-event='apply_status'>待处理</button>"
                            }
                        }
                        if(res.apply_status=='2'){
                            return "已处理"
                        }
                    }}
                    ,{field:'insert_time', title:'提取时间', sort: true}
                    ,{fixed: 'right', title:'操作',  minWidth:150, templet:function (res) {
                        var delBtn = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                        var editBtn = '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
                        if(userRole=='1' && res.apply_status == '0'){
                            return editBtn + delBtn
                        }else{
                            return '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="">编辑</a>' + delBtn
                        }
                    }}
                 ]
            ]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addApply':
                    //弹框添加
                    layer.open({
                        type: 2,
                        title: "新增提取",
                        shade: [0],
                        area: ['670px', '600px'],
                        anim: 2,
                        content: [context + 'apply/toAddApply', 'no'], //iframe的url，no代表不显示滚动条
                        end: function(){ //此处用于演示
                            location.reload()
                        }
                    });
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定要删除此行数据吗？', function(index){
                    $.ajax({
                        url: context + "apply/delApply",
                        type: "post",
                        data: {"apply_id":data.apply_id},
                        success: function (msg) {
                            layer.msg("删除成功");
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'apply_status'){
                //处理任务。弹出框，上传文件
                layer.open({
                    type: 2,
                    title: "处理任务",
                    shade: [0],
                    area: ['400px', '300px'],
                    offset: '2px',
                    anim: 2,
                    content: [context + 'apply/toDealApply?apply_id='+data.apply_id, 'no'], //iframe的url，no代表不显示滚动条
                    end: function(){ //此处用于演示
                        location.reload()
                    }
                });
            }
        });
    });
</script>
</body>
</html>