<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>信息列表</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}">
    <link th:href="@{/static/css/reset.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/plugins/layui/layui.js}"></script>
    <script th:inline="javascript">
        var context = [[@{/}]];
    </script>
    <style type="text/css">
        .layui-form-label{
            width: 58px;
            padding: 9px 5px;
        }
        .layui-input-block{
            margin-left: 72px;
        }
    </style>
</head>
<body >

    <div class="layui-form-item">
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">提取名称</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input type="text" name="apply_name" maxlength="50"  class="layui-input" placeholder="请填写提取名称" autocomplete="off" />-->
            <!--</div>-->
        <!--</div>-->

        <div class="layui-inline">
            <label class="layui-form-label">公函编号</label>
            <div class="layui-input-block">
                <input type="text" name="apply_number" maxlength="40"  placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">时间范围</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="insert_time_min" name="insert_time_min" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="insert_time_max" name="insert_time_max" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline" th:if="${user.userRole eq '1' or user.userRole eq '3'}">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-inline">
                    <input type="radio" name="search_status" value="" title="全部"  lay-filter="search_status" checked>
                    <input type="radio" name="search_status" value="1" title="待办" lay-filter="search_status">
                    <input type="radio" name="search_status" value="5" title="已办" lay-filter="search_status">
                </div>
            </form>
        </div>
        <div class="layui-inline">
            <button class='layui-btn layui-btn-normal layui-btn-sm' id="search" lay-event='search'>搜索</button>
        </div>

    </div>

<table class="layui-hide" id="table" lay-filter="table"></table>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <th:block th:if="${user.userRole eq '1'}">
            <button class="layui-btn layui-btn-sm" lay-event="addApply">新增提取</button>
        </th:block>
    </div>
</script>

<script th:inline="javascript">
    var userRole = [[${user.userRole}]]
</script>

<script>
    layui.use(['form','table','laydate'], function(){
        var form = layui.form;
        var table = layui.table;
        var $ = jQuery = layui.$;
        var laydate = layui.laydate

        //日期
        laydate.render({
            elem: '#insert_time_min'
        });
        laydate.render({
            elem: '#insert_time_max'
        });

        table.render({
            elem: '#table'
            ,url: context + '/apply/applyListData'
            ,toolbar: '#toolbar'
            ,title: '用户数据表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'apply_name', title:'提取名称'}
                    ,{field:'apply_user', title:'提取人'}
                    ,{field:'user_number', title:'警员编号'}
                    ,{field:'apply_number', title:'公函编号'}
                    ,{field:'certify_file_name', title:'电子公函', align:'center', templet: function (res) {
                        if(res.certify_file_name!=''){
                            return "<button class='layui-btn layui-btn-warm layui-btn-xs' lay-event='download_certify'>下载</button>"
                        }
                        return ''
                    }}
                    ,{field:'apply_status', title:'提取状态', align:'center',  templet: function (res) {
                        if(res.apply_status == '1'){
                            return "<button class='layui-btn layui-btn-normal layui-btn-xs' lay-event='apply_send'>待发送</button>"
                        }
                        if(res.apply_status=='2'){
                            return "<button class='layui-btn layui-btn-primary layui-btn-xs'>审核中</button>"
                        }
                        if(userRole=='3' && res.apply_status=='3'){
                            return "<button class='layui-btn layui-btn-normal layui-btn-xs' lay-event='apply_status'>待处理</button>"
                        }
                        if(userRole=='1' && res.apply_status=='3'){
                            return "<button class='layui-btn layui-btn-primary layui-btn-xs'>待处理</button>"
                        }
                        if(res.apply_status=='4'){
                            return "<button class='layui-btn layui-btn-normal layui-btn-xs'>退回</button>"
                        }
                        if(res.apply_status=='5'){
                            return "<button class='layui-btn layui-btn-warm layui-btn-xs' lay-event='apply_has_deal'>已处理,下载回执</button>"
                        }
                    }}
                    ,{field:'insert_time', title:'提取时间', sort: true}
                    ,{fixed: 'right', title:'操作',  minWidth:200, templet:function (res) {
                        var downloadBtn = '<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="desc_info">查看描述</a>';
                        if(res.apply_file_path != ''){
                            downloadBtn = '<a class="layui-btn layui-btn-warn layui-btn-xs" lay-event="download_desc">下载描述</a>';
                        }
                        var delBtn = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                        var editBtn = '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
                        var infoBtn = "";
                        if(userRole == '1' || userRole=='3'){
                            //如果是客户端和账务中心显示详情
                            infoBtn ='<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="info">详情</a>'
                        }
                        if(userRole == '2' || userRole=='3'){
                            infoBtn ='<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="info">审核</a>'
                        }
                        if(userRole=='1' && (res.apply_status == '1' || res.apply_status == '4')){
                            //只有客户端在保存状态和退回状态下可以删除
                            return downloadBtn + editBtn + delBtn
                        }else{
                            return downloadBtn + infoBtn
                        }
                    }}
                 ]
            ]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addApply':
                    //弹框添加
                    layer.open({
                        type: 2,
                        title: "新增提取",
                        shade: [0],
                        area: ['670px', '600px'],
                        offset: '2px',
                        anim: 2,
                        content: [context + 'apply/toAddApply'], //iframe的url，no代表不显示滚动条
                        end: function(){
                            location.reload(true)
                        }
                    });
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定要删除此行数据吗？', function(index){
                    $.ajax({
                        url: context + "apply/delApply",
                        type: "post",
                        data: {"apply_id":data.apply_id},
                        success: function (msg) {
                            layer.msg("删除成功");
                            setInterval(function () {
                                location.reload(true)
                            },1500)
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                //弹框修改
                layer.open({
                    type: 2,
                    title: "修改",
                    shade: [0],
                    area: ['670px', '550px'],
                    offset: '2px',
                    anim: 2,
                    content: [context + 'apply/toEditApply?apply_id='+data.apply_id], //iframe的url，no代表不显示滚动条
                    end: function(){
                        location.reload(true)
                    }
                });
            }else if(obj.event === 'apply_status'){
                //处理任务。弹出框，上传文件
                layer.open({
                    type: 2,
                    title: "处理任务",
                    shade: [0],
                    area: ['400px', '300px'],
                    offset: '2px',
                    anim: 2,
                    content: [context + 'apply/toDealApply?apply_id='+data.apply_id, 'no'], //iframe的url，no代表不显示滚动条
                    end: function(){ //此处用于演示
                        location.reload(true)
                    }
                });
            }else if(obj.event === 'apply_send'){
                //点击待发送按钮，发送提取任务
                layer.confirm('确定要发送此提取需求吗？', function(index){
                    $.ajax({
                        url: context + "apply/applySend",
                        type: "post",
                        data: {"apply_id":data.apply_id},
                        success: function (msg) {
                            if("success"==msg){
                                layer.msg("发送成功",{icon:6})
                                location.reload(true);
                            }else{
                                layer.msg(msg,{icon:5});
                            }
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === "apply_has_deal"){
                location.href = context + "apply/downloadDealFile?apply_id="+data.apply_id
            }else if(obj.event === 'download_desc'){
                location.href = context + "apply/downloadApplyDesc?apply_id="+data.apply_id
            }else if(obj.event === 'download_certify'){
                location.href = context + "apply/downloadCertify?apply_id="+data.apply_id
            }else if(obj.event === 'info'){
                //移动端查看详情
                layer.open({
                    type: 2,
                    title: "查看提取",
                    shade: [0],
                    area: ['670px', '550px'],
                    offset: '2px',
                    anim: 2,
                    content: [context + 'apply/toApplyInfo?apply_id='+data.apply_id], //iframe的url，no代表不显示滚动条
                    end: function(){ //此处用于演示
                        location.reload(true)
                    }
                });
            }else if(obj.event === "desc_info"){
                //弹框查看描述
                //移动端查看详情
                layer.open({
                    type: 2,
                    title: "查看提取",
                    shade: [0],
                    area: ['550px', '300px'],
                    offset: '2px',
                    anim: 2,
                    content: [context + 'apply/toDescInfo?apply_id='+data.apply_id, 'no'] //iframe的url，no代表不显示滚动条
                });
            }
        });
        //查询
        $("#search").click(function () {
            var applyName = $("input[name='apply_name']").val()
            var applyNumber = $("input[name='apply_number']").val()
            var insertTimeMin = $("#insert_time_min").val()
            var insertTimeMax = $("#insert_time_max").val()
            var searchStatus = $("input[name='search_status']:checked").val()
            table.reload("table",{
                method:"post",
                where:{
                    apply_name :applyName,
                    apply_number:applyNumber,
                    insert_time_min : insertTimeMin,
                    insert_time_max: insertTimeMax,
                    search_status:searchStatus
                },
                page:{
                    curr:1
                }
            })
        })

        form.on("radio(search_status)",function (data) {
            var searchStatus = data.value
            var applyName = $("input[name='apply_name']").val()
            var applyNumber = $("input[name='apply_number']").val()
            var insertTimeMin = $("#insert_time_min").val()
            var insertTimeMax = $("#insert_time_max").val()
            table.reload("table",{
                method:"post",
                where:{
                    apply_name :applyName,
                    apply_number:applyNumber,
                    insert_time_min : insertTimeMin,
                    insert_time_max: insertTimeMax,
                    search_status:searchStatus
                },
                page:{
                    curr:1
                }
            })
        })

    });
</script>
</body>
</html>