<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApplyMapper">
    <select id="listPage" parameterType="pd" resultType="pd">
        select
          *
        from m_apply t
        where t.del_flag = '0'
        <!--综合部审核,只查看带审核状态的，处理完的不让看-->
        <if test='user_role == "2"'>
            and t.apply_status = '2'
        </if>
        <!--账目中心 3账目中心待处理5处理完成 -->
        <if test='user_role == "3"'>
            and t.apply_status in ('2','3','5')
        </if>
        <!--客户端查看自己的数据-->
        <if test="insert_user != null and insert_user != ''">
            and t.insert_user = #{insert_user}
        </if>
        <if test="apply_name != null and apply_name != ''">
            and t.apply_name like concat('%',#{apply_name},'%')
        </if>
        <if test="apply_number != null and apply_number != ''">
            and t.apply_number like concat('%',#{apply_number},'%')
        </if>
        <if test="insert_time_min != null and insert_time_min != ''">
            and t.insert_time <![CDATA[ > ]]> #{insert_time_min}
        </if>
        <if test="insert_time_max != null and insert_time_max != ''">
            and t.insert_time <![CDATA[ < ]]> #{insert_time_max}
        </if>
        <if test='search_status == "5"'>
            and t.apply_status = '5'
        </if>
        <if test='search_status == "1"'>
            and t.apply_status in ('1','2','3','4')
        </if>
        order by t.insert_time desc
        limit ${start},${page_size}
    </select>

    <select id="countListPage" parameterType="pd" resultType="java.lang.Long">
        select
          count(1)
        from m_apply t
        where t.del_flag = '0'
        <!--综合部审核,只查看带审核状态的，处理完的不让看-->
        <if test='user_role == "2"'>
            and t.apply_status = '2'
        </if>
        <!--账目中心 3账目中心待处理5处理完成 -->
        <if test='user_role == "3"'>
            and t.apply_status in ('3','5')
        </if>
        <!--客户端查看自己的数据-->
        <if test="insert_user != null and insert_user != ''">
            and t.insert_user = #{insert_user}
        </if>
        <if test="apply_name != null and apply_name != ''">
            and t.apply_name like concat('%',#{apply_name},'%')
        </if>
        <if test="apply_number != null and apply_number != ''">
            and t.apply_number like concat('%',#{apply_number},'%')
        </if>
        <if test="insert_time_min != null and insert_time_min != ''">
            and t.insert_time <![CDATA[ > ]]> #{insert_time_min}
        </if>
        <if test="insert_time_max != null and insert_time_max != ''">
            and t.insert_time <![CDATA[ < ]]> #{insert_time_max}
        </if>
        <if test='search_status == "5"'>
            and t.apply_status = '5'
        </if>
        <if test='search_status == "1"'>
            and t.apply_status in ('1','2','3','4')
        </if>
    </select>

    <insert id="saveApply" parameterType="pd">
        insert into m_apply(
          apply_id,
          apply_name,
          apply_user,
          user_number,
          apply_number,
          user_number_file_name1,
          user_number_file_name2,
          user_number_file_path1,
          user_number_file_path2,
          certify_file_name,
          certify_file_path,
          apply_desc,
          apply_file_name,
          apply_file_path,
          apply_status,
          del_flag,
          insert_user,
          insert_time,
          update_user,
          update_time
        )values(
          #{apply_id},
          #{apply_name},
          #{apply_user},
          #{user_number},
          #{apply_number},
          #{user_number_file_name1},
          #{user_number_file_name2},
          #{user_number_file_path1},
          #{user_number_file_path2},
          #{certify_file_name},
          #{certify_file_path},
          #{apply_desc},
          #{apply_file_name},
          #{apply_file_path},
          #{apply_status},
          '0',
          #{insert_user},
          now(),
          #{update_user},
          now()
        )
    </insert>

    <update id="dealApply" parameterType="pd">
        update m_apply set
          apply_deal_file_name = #{apply_deal_file_name},
          apply_deal_file_path = #{apply_deal_file_path},
          apply_status = '5'
        where apply_id = #{apply_id}

    </update>

    <update id="delApply" parameterType="pd">
        update m_apply set
          del_flag = '1',
          update_user = #{update_user},
          update_time = now()
        where apply_id = #{apply_id}
    </update>

    <select id="findById" parameterType="java.lang.String" resultType="pd">
        select
          t.*,
          u.user_unit
        from m_apply t
        left join sys_user u
        on t.insert_user = u.user_id
        where t.del_flag = '0'
        and t.apply_id = #{applyId}
    </select>

    <update id="updateApply" parameterType="pd">
        update m_apply set
          apply_name  = #{apply_name},
          apply_user =#{apply_user},
          user_number=#{user_number},
          apply_number=#{apply_number},
          user_number_file_name1 = #{user_number_file_name1},
          user_number_file_name2 = #{user_number_file_name2},
          user_number_file_path1 = #{user_number_file_path1},
          user_number_file_path2 = #{user_number_file_path2},
          certify_file_name=#{certify_file_name},
          certify_file_path=#{certify_file_path},
          apply_desc=#{apply_desc},
          apply_file_name=#{apply_file_name},
          apply_file_path=#{apply_file_path},
          apply_status=#{apply_status},
          update_user=#{update_user},
          update_time = now()
        where apply_id = #{apply_id}

    </update>
    
    <update id="updateStatus" parameterType="pd">
        update m_apply set
          apply_status = #{apply_status},
          update_user = #{update_user},
          update_time = now()
        where apply_id = #{apply_id}
    </update>
</mapper>