<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>认证失败</title>
    <link rel="stylesheet" href="static/plugins/layui/css/layui.css">
    <link href="static/css/reset.css" rel="stylesheet" type="text/css" />
    <style type="text/css">

    </style>
</head>
<body>
认证失败
</body>

<script src="static/js/jquery.min.js"></script>
<script src="static/plugins/layui/layui.js"></script>
<script>

</script>
</html>