<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>重置密码</title>
    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}">
    <link th:href="@{/static/css/reset.css}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .layui-input{
            width: 250px;
        }
        .layui-form-label{
            width: 110px;
        }
    </style>
</head>
<body style="margin-top: 30px;">
<form class="layui-form" th:action="@{/user/resetPassword}">
    <input type="hidden" name="user_id" th:value="${user.userId}"/>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="user_name" required th:value="${user.userName}" disabled lay-verify="user_name" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">输入原密码</label>
        <div class="layui-input-block">
            <input type="password" name="user_password" required  lay-verify="user_password" placeholder="请输入原密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">输入新密码</label>
        <div class="layui-input-block">
            <input type="password" name="user_new_password" required  lay-verify="user_new_password" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">再次输入新密码</label>
        <div class="layui-input-block">
            <input type="password" name="user_new_password_agin" required  lay-verify="user_new_password_agin" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn submit" lay-submit lay-filter="resetPassword">修改</button>
            <button type="button" class="layui-btn layui-btn-danger close">关闭</button>
        </div>
    </div>
</form>
</body>

<script th:src="@{/static/plugins/layui/layui.js}"></script>
<script>
    layui.use(['jquery','layer', 'form', 'element'], function(){
        var form = layui.form;

        var $ = jQuery = layui.$;
        //自定义验证规则
        form.verify({
            user_password: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,user_new_password:[
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,user_new_password_agin:function (value) {
                var userNewPa = $("input[name='user_new_password']").val()
                if(!/^[\S]{6,12}$/.test(value)){
                    return "密码必须6到12位，且不能出现空格"
                }
                if(!(value == userNewPa)){
                    return "两次输入密码不一致"
                }
            }
        });
        //监听提交
        form.on('submit(resetPassword)', function(data){
            $.ajax({
                url: data.form.action,
                type: data.form.method,
                data: $(data.form).serialize(),
                success: function (msg) {
                    if (msg == "success") {
                        //更新成功，提示并关闭弹出框
                        layer.msg("重置成功",{icon:6})
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    }else{
                        layer.msg(msg,{icon:5});
                    }
                }
            });
            return false;
        });
        //关闭弹出框
        $(".close").click(function () {
            //当你在iframe页面关闭自身时
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        })
    });

</script>
</html>